<!-- 				Cards					 -->
	<div class="container my-5 py-5">
		<div class="container px-4">
			<div class="row" id="cards">
				<div class="col-lg col-md-6 pb-4">
					<div class="p-4 pe-3 shadow">
						<i class="fas fa-user-tie display-5 mb-3 lh-base"></i>
						<h5 class="fw-bold">Master Chefs</h5>
						<p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
					</div>
				</div>
				<div class="col-lg col-md-6  pb-4 ">
					<div class="p-4 pe-3 shadow">
						<i class="fas fa-utensils pe-3 display-5 mb-3 lh-base"></i>
						<h5 class="fw-bold">Quality Food</h5>
						<p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
					</div>
				</div>
				<div class="col-lg col-md-6 pb-4">
					<div class="p-4 pe-3 shadow">
						<i class="fas fa-cart-plus display-5 mb-3 lh-base"></i>
						<h5 class="fw-bold">Online Order</h5>
						<p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
					</div>
				</div>
				<div class="col-lg col-md-6 pb-4">
					<div class="p-4 pe-3 shadow">
						<i class="fas fa-headset display-5 mb-3 lh-base"></i>
						<h5 class="fw-bold">24/7 Service</h5>
						<p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
					</div>
				</div>
			</div>
		</div>
	</div>