<div class="container">
		<div class="text-center mt-5 ">
			<h5 class="text-orange cursive-text">Testimonial</h5>
			<h1 class="fw-bolder">Our Client Says</h1>
		</div>
			<div class="owl-carousel owl-theme">
				<div class="my-4 p-3 item border">
					<h1><i class="fa-solid fa-quote-left ps-3" style="font-size: 3rem;"></i></h1>
					<p class="text-muted p-3">Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
					<div class="d-flex align-items-center">
						<img src="/images/person1.jpg" class="rounded-circle border" style="width:4rem">
						<div class="ps-3 pt-3">
							<h5 class="fw-bold">Client Name</h5>
							<p class="text-muted small">Profession</p>
						</div>
					</div>
				</div>
				<div class="my-4 p-3 item border">
					<h1><i class="fa-solid fa-quote-left ps-3" style="font-size: 3rem;"></i></h1>
					<p class="text-muted p-3">Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
					<div class="d-flex align-items-center">
						<img src="/images/person2.jpg" class="rounded-circle border" style="width:4rem">
						<div class="ps-3 pt-3">
							<h5 class="fw-bold">Client Name</h5>
							<p class="text-muted small">Profession</p>
						</div>
					</div>
				</div> 
				<div class="my-4 p-3 item border">
					<h1><i class="fa-solid fa-quote-left ps-3" style="font-size: 3rem;"></i></h1>
					<p class="text-muted p-3">Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
					<div class="d-flex align-items-center">
						<img src="/images/person3.jpg" class="rounded-circle border" style="width:4rem">
						<div class="ps-3 pt-3">
							<h5 class="fw-bold">Client Name</h5>
							<p class="text-muted small">Profession</p>
						</div>
					</div>
				</div> 
				<div class="my-4 p-3 item border">
					<h1><i class="fa-solid fa-quote-left ps-3" style="font-size: 3rem;"></i></h1>
					<p class="text-muted p-3">Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
					<div class="d-flex align-items-center">
						<img src="/images/person4.jpg" class="rounded-circle border" style="width:4rem">
						<div class="ps-3 pt-3">
							<h5 class="fw-bold">Client Name</h5>
							<p class="text-muted small">Profession</p>
						</div>
					</div>
				</div> 
			</div>
		</div>
	</div>