<div class="mt-4 ">
		<div class="text-center mt-5 ">
			<h5 class="text-orange cursive-text">Team Members</h5>
			<h1 class="fw-bolder">Our Master Chefs</h1>
		</div>
		<div class="container mb-5 py-5">
			<div class="row text-center" id="Chefs">
				<div class="col-lg-3 col-md-6 col-sm-12 mb-5 trans">
					<div class="shadow p-4 pb-0">
						<div class="rounded-circle overflow-hidden mb-4">
							<img src="/images/team-1.jpg" class="img-fluid">
						</div>
						<h5 class="fw-bold m-0">Full Name</h5>
						<p class="text-muted small">Designation</p>
						<div class="p-0 pt-3 mb-0 shows">
							<a href="#" class="btn  bg-warning pt-2 rounded-circle"><i class="fab fa-facebook-f fs-5"></i></a>
							<a href="#" class="btn bg-warning pt-2 rounded-circle "><i class="fab fa-twitter fs-5"></i></a>
							<a href="#" class="btn bg-warning pt-2 rounded-circle "><i class="fab fa-instagram fs-5"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 mb-5 trans">
					<div class="p-4 shadow pb-0">
						<div class="rounded-circle overflow-hidden mb-4">
							<img src="/images/team-2.jpg" class="img-fluid">
						</div>
						<h5 class="fw-bold m-0">Full Name</h5>
						<p class="text-muted small">Designation</p>
						<div class="p-0 pt-3 mb-0 shows">
							<a href="#" class="btn  bg-warning pt-2 rounded-circle"><i class="fab fa-facebook-f fs-5"></i></a>
							<a href="#" class="btn bg-warning pt-2 rounded-circle "><i class="fab fa-twitter fs-5"></i></a>
							<a href="#" class="btn bg-warning pt-2 rounded-circle "><i class="fab fa-instagram fs-5"></i></a>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-sm-12 mb-5 trans">
					<div class=" p-4 shadow pb-0">
						<div class="rounded-circle overflow-hidden mb-4">
							<img src="/images/team-3.jpg" class="img-fluid">
						</div>
						<h5 class="fw-bold m-0">Full Name</h5>
						<p class="text-muted small">Designation</p>
						<div class="p-0 pt-3 mb-0 shows">
							<a href="#" class="btn  bg-warning pt-2 rounded-circle"><i class="fab fa-facebook-f fs-5"></i></a>
							<a href="#" class="btn bg-warning pt-2 rounded-circle "><i class="fab fa-twitter fs-5"></i></a>
							<a href="#" class="btn bg-warning pt-2 rounded-circle "><i class="fab fa-instagram fs-5"></i></a>
						</div>
					</div>	
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 mb-5 trans">
					<div class="p-4 shadow pb-0">
						<div class="rounded-circle overflow-hidden mb-4">
							<img src="/images/team-4.jpg" class="img-fluid">
						</div>
						<h5 class="fw-bold m-0">Full Name</h5>
						<p class="text-muted small">Designation</p>
						<div class="p-0 pt-3 mb-0 shows">
							<a href="#" class="btn  bg-warning pt-2 rounded-circle"><i class="fab fa-facebook-f fs-5"></i></a>
							<a href="#" class="btn bg-warning pt-2 rounded-circle "><i class="fab fa-twitter fs-5"></i></a>
							<a href="#" class="btn bg-warning pt-2 rounded-circle "><i class="fab fa-instagram fs-5"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>