<!DOCTYPE html>
<html>
<head>
	
	{{>heading}}
</head>
<body>
	<div class="navigation">
		<div class="pb-5 mb-5">
			<nav class="navbar navbar-expand-lg navbar-light align-items-center py-3 px-5 mb-5">
				<a href="#" class="navbar-brand fs-1 fw-bold" style="color:orange;"><i class="fa fa-utensils pe-3"></i>Restoran</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#tog" aria-controls="tog" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
				<div class="collapse navbar-collapse justify-content-end" id="tog">
					<ul class="navbar-nav align-items-center" >
						<li class="nav-item pe-2"><a href="/restoran" class="nav-link" >HOME</a></li>
						<li class="nav-item pe-2"><a href="/restoran/about" class="nav-link">ABOUT</a></li>
						<li class="nav-item pe-2"><a href="/restoran/service" class="nav-link">SERVICE</a></li>
						<li class="nav-item pe-2"><a href="/restoran/menu" class="nav-link">MENU</a></li>
						<li class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle pe-2" data-bs-toggle="dropdown" style="color:orange;">PAGES</a>
							<ul class="dropdown-menu" >
								<li><a href="/restoran/booking" class="dropdown-item text-warning">BOOKING</a></li>
								<li><a href="/restoran/team" class="dropdown-item text-warning bg-success">OUR TEAM
								</a></li>
								<li><a href="/restoran/testimonial" class="dropdown-item text-warning">TESTIMONIAL</a></li>
							</ul>
						</li>
						<li class="nav-item pe-2"><a href="/restoran/contact" class="nav-link">CONTACT</a></li>
						<button class="btn btn-warning py-2 px-4 rounded-0 text-light fw-bold">BOOK A TABLE</button>
					</ul>
				</div>
			</nav>
			<div class="text-center">
				<h1 class="display-3 fw-bold mb-4 text-light ">Our Team</h1>
				<ul class="breadcrumb justify-content-center pb-5">
				    <li class="breadcrumb-item"><a href="/restoran" class="text-warning">HOME</a></li>
				    <li class="breadcrumb-item"><a href="#" class="text-warning">PAGES</a></li>
				    <li class="breadcrumb-item text-light">Team</li>   
				 </ul>
			</div>
		</div>
	</div>

	<!-- 					Team Members			 -->
		{{>Master_chefs}}
	<!--   				footer 		 -->
		{{>footer}}
</body>
</html>